.mainContainerLight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  width: 100vw;
  min-height: 100vh;
  background-color: #fcfcfc;
  transition: 0.4s;
}

.mainContainerDark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  width: 100vw;
  min-height: 100vh;
  background-color: #121212;
  transition: 0.4s;
}

/* ////////////////////////////////////////////////////// */

.cadastrarContainerLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 90%;
  background-color: #1b9aaa;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px black;
  transition: 0.4s;
}

.cadastrarContainerDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 90%;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 20px;
  transition: 0.4s;
}

/* ////////////////////////////////////////////////////// */

.containerButtonCadastrar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttonCadastrarLight {
  padding: 5px 10px;
  background-color: #f71735;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  box-shadow: 3px 3px 6px black;
  transition: 0.4s;
}

.buttonCadastrarLight:hover {
  transform: scale(1.1);
}

.buttonCadastrarDark {
  padding: 5px 10px;
  background-color: #e5e5e5;
  color: #363636;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  transition: 0.4s;
}

.buttonCadastrarDark:hover {
  transform: scale(1.1);
}

/* ////////////////////////////////////////////////////// */

.containerClientsDark {
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  min-height: 70vh;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  color: #e5e5e5;
  transition: 0.4s;
}

.containerClientsLight {
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  min-height: 70vh;
  border: 2px solid black;
  border-radius: 15px;
  color: black;
  transition: 0.4s;
}

/* /////////////////////////////////////////////// */

.containerTitles {
  display: flex;
  height: 100%;
  width: 100%;
}

/* /////////////////////////////////////////////// */

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  transition: 0.4s;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* /////////////////////////////////////////////// */

.containerSocialMediasFake {
  height: 100px;
  width: 50px;
  margin-right: auto;
  visibility: hidden;
}

.containerSocialMedias {
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  /* background-color: red; */
  height: 200px;
}

.containerSocialMedias img {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  transition: 0.3s;
  cursor: pointer;
}

.containerSocialMedias img:hover {
  transform: scale(1.1);
}


@media (max-width: 425px) {
  .mainContainerLight {
    flex-direction: column;
    padding-top: 0;
  }

  .mainContainerDark {
    flex-direction: column;
    padding-top: 0;
  }

  .containerSocialMedias {
    flex-direction: row;
    margin: 0;
    height: auto;
    padding: 10px;
  }

  .containerSocialMedias img {
    margin-right: 5px;
    margin-left: 5px;
  }

}

@media (max-width: 605px) {
  .buttonCadastrarLight {
    font-size: 20px;
  }

  .buttonCadastrarDark {
    font-size: 20px;
  }
}

@media (max-width: 478px) {
  .containerButtonCadastrar {
    flex-direction: column;
  }

  .containerButtonCadastrar button {
    margin-bottom: 15px;
  }
}
